html {
    height: 100vh;
    width: 100vw;
}

body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#projects {
    background-color: floralwhite;
}

#projects div:hover{
    cursor: pointer;
}

#projects-heading{
    background-color: aquamarine;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

p[data-button="drop down"] {
    transform: rotate(90deg);
}

#todos {

}

header, footer {
    background-color: #158dc4;
    font-family: Helvetica, serif;
    color: white;
    text-align: center;
}